

#GridModal{
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  h1{
    font-size: 100px;
    color: black;
    opacity: 1;
  }
}

.actionButton{
  user-select: none;
  position: fixed;
  bottom: 100px;
  left: 100px;
}
.actionDragButton{
  user-select: none;
  pointer-events: none;
}

#GridMain{
  display: flex;
  flex-direction: row;
}

#GridMenu{
  user-select: none;
  //pointer-events: none;
  //pointer-events: ;
  position: fixed;
  top: 20px;
  left: 0px;
  width: 50px;
}


.dashboard {
  display: grid;

  background-color: #FAC9A2;
  grid-gap: 5px;
  width: 100vw;
  height: 100vh;
  //padding: 50px;

  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 60px;
  padding-right: 0.5em;


  overflow: hidden;



  .dashboardPlaceholder{
    background-color: green;
    color: black;
    display: none;
  }

  .containerPlaceholder{
    background-color: green;
    color: black;
    display: none;
  }



  //
  //.dashboardContainerHeader{
  //  display: flex;
  //  flex-direction: row;
  //  justify-content: space-between;
  //  //justify-content: center;
  //  &:hover{
  //    .dashboardHoverMenu{
  //      visibility: initial;
  //    }
  //  }
  //  .dashboardHoverMenu{
  //    visibility: hidden;
  //  }
  //  .dashboardContainerTitle{
  //    color: cornsilk;
  //  }
  //}

  //.dashboardGroupHeader{
  //  display: flex;
  //  flex-direction: row;
  //  justify-content: space-between;
  //  //justify-content: center;
  //  &:hover{
  //    .dashboardHoverMenu{
  //      visibility: initial;
  //    }
  //  }
  //  .dashboardHoverMenu{
  //    visibility: hidden;
  //  }
  //  .dashboardGroupTitle{
  //    color: cornsilk;
  //  }
  //}

}