$color-action-primary: #214D76;
$color-action-secondary: #214D76;
$color-action-text: #FFFFFF;

$color-bg-primary: #FFFFFF;
$color-bg-secondary: #53A0E8;

$color-nav-primary: #0B3B66;
$color-nav-text: #F6F6F6;

$color-banner-primary: #53A0E8;
$color-banner-secondary: #FFFFFF;
$color-banner-content: #FFFFFF;

$color-text-light-primary: #FFFFFF;
$color-text-light-secondary: #FFFFFF;

$color-text-dark-primary: #000000;
$color-text-dark-secondary: #000000;

$color-text-special-primary: #53A0E8;
$color-text-special-secondary: #53A0E8;