$img-navbar-bg: url('~@/assets/img/navbar/BG.svg');
$img-navbar-bg-2: url('~@/assets/img/navbar/BG1.svg');

$img-banner-bg-primary: url('~@/assets/img/banner/banner-bg-primary.svg');
$img-banner-bg-secondary: url('~@/assets/img/banner/banner-bg-secondary.svg');
